:root {
    --principal: #642373;
    --secundaria: #CA537C;
    --titulos: rgba(38, 22, 41, 1);
    --subtitulos: #37223B;
    --branco: #F5F7F3;
    --fundoSite: #F3F1F4;
    --fundoHero: #DBC9E8;
    --minWidth: 350px;
}

html {
    font-size: 62.4%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background-color: var(--fundoSite);
    overflow-x: hidden;

}

h1 {
    font-size: 6.2rem;
    line-height: 60px;
    color: var(--titulos);
    font-weight: 700;
}

h2 {
    font-size: 3.4rem;
    color: var(--titulos);
}

/* ajustar h3 */

h3 {
    font-size: 2rem;
}

h4{
    color: var(--principal);
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

h4::after{
    content: "";
    position: absolute;
    width: 48px;
    height: 3.5px;
    border-radius: 10px;
    margin-top: calc(18px - 7.5px);
    margin-left: 10px;
    background-color: var( --principal);
}

p, a, li {
    font-size: 1.6rem;
}


p:not(.footer-logo>p, .footer-contatos>p){
    color: var(--subtitulos);
    font-weight: 400;
}

button{
    transition: 0.5s ease-in-out;
}
button:hover{
    outline: 0;
    background-color: var(--principal);
    box-shadow: 0 0 6px 0 rgba(100, 35, 115, 0.2) inset, 0 0 6px 4px rgba(100, 35, 115, 0.2);
   
}

/* header */

.mobile-logo {
    display: none;
}

.s-mobile-logo {
    background-color: var(--principal);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.bg-header {
    background-color: var(--fundoHero);
}
.social-icons{
	margin-left: 1%;
	display: flex;
	align-items: flex-end;
}
.container-header {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    padding: 0 10px;
}
hr{
	border: 1px solid #642373;
	border-radius: 8px;
	width: 80%;
	align-self: baseline;
}
.l-header {
    margin-left:2%;
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--fundoHero);
    width: 100vw;
    z-index: 9999;
}
.logoicon{
	display: flex;
	min-width: 100%;
	width: 1042px;
	margin-top: 9px;
	margin-bottom: 9px;
}
.navegation{
	width:78%;
	justify-content: center;
}
.menu{
	align-self: center;
}
header :is(nav, ul, li) {
    display: flex;
    margin-left: 30px;
    padding: 4px;
    cursor: pointer;
}
.logomedia{
	display: flex;
	margin-bottom: 9px;
	width: 76.5%;
	margin-top: 9px;
}
.nav-item a{
    color: var(--titulos);
    text-decoration: none !important;
    font-weight: 500;
    transition: .4s;
}

.nav-item a:hover{
    color: var(--secundaria);
    transform: translateY(-8px);
}

.social-icons i{
    color: var(--subtitulos);
    font-size: 28px;
    margin: 0 8px;
    transition: .3s ease-in-out;
}

.social-icons i:hover{
    filter: opacity(.7);
}

.l-hero {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap-reverse;
}
.l-hero2{
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap-reverse;
}
.l-display {
    min-width: var(--minWidth);
    display: flex;
    align-items: center;
    width: 50%;
}
.l-display2 {
    min-width: var(--minWidth);
    display: flex;
    align-items: center;
    width: 50%;

}
.display-hero {
    min-width: var(--minWidth);
    justify-content: center;
    z-index: 9999;
    padding-left: 2rem;
}
.display-hero h1{
	font-weight: 700;
	font-size: 4rem;
}
/* display padrao de texto */

.display-hero>p {
    margin: 20px 0 30px 0;
}

/* display padrao dos textos */

.display-padrao {
    min-width: var(--minWidth);
    max-width: 400px;
    justify-content: center;
}

.display-padrao p{
    margin: 10px 0 30px 0;
}

/* display padrao dos textos */

.l-banner::before {
    background-color: #642373;
    width: 50px;
    height: 100px;
}

.l-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    grid-column: 2/3;
}
.l-banner2{
    display: flex;
    flex-direction: column;
    z-index: 100;
    align-items: center;
    justify-content: center;
    width: 50%;
    grid-column: 2/3;
}
.icons{
	transform: translateY(-30px);
	width: 80%;
	display: flex;
	justify-content: space-around;
}
.logo-mobile {
    display: none;
}

.s-banner {
    min-width: 300px;
    max-width: 606px;
    z-index: 99;
}

.btn-orcamento, .btn-servicos, .btn-sub{
    width: 310px;
    height: 58px;
    font-weight: 600;
    background-color: var(--secundaria);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(0, 0, 0, 0.2), 8px 8px 20px rgba(239, 135, 210, 0.6), -8px -8px 20px rgba(239, 135, 210, 0.55);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-sub img{
   transform: translateX(-60%);
}

.btn-orcamento i{
    margin-right: 16px;
    font-size: 20px;
    
}

.btn-servicos i{
    font-size: 24px;
    margin-left: 30px;
}
/* container main */

.container-main {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;

}

/* por que a brain */

.flex-main {
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.l-display-because {
    width: 50%;
    min-width: var(--minWidth);
}

.l-reasons {
    width: 50%;
    min-width: var(--minWidth);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.s-reasons span:not(.purple){
    color: var(--branco);
    font-size: 35px;
    font-weight: 700;
    border-radius: 52px;
    width: 85px;
    height: 85px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--secundaria);
}

.s-reasons .purple {
    color: var(--branco);
    font-size: 35px;
    font-weight: 700;
    border-radius: 52px;
    width: 85px;
    height: 85px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--principal);
}

.align-reasons{
    display: flex;
    
    align-items: center;
    margin: 10px 0;
}
.align-reasons h3{
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--titulos);
}
/* seção quem somos */

.l-banner-we {
    margin: 50px 0 50px 0;
    width: 50%;
    border-radius: 8px;
    min-width: 404px;
}

.display-we {
    width: 50%;
    display: flex;
    min-width: var(--minWidth);
}

/* conheça nossos serviços */
.display-services {
    width: 50%;
    min-width: var(--minWidth);
}

.l-cards-services {
    width: 50%;
    min-width: var(--minWidth);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cards-services {
    background-color: var(--principal);
    color: var(--branco);
    border-radius: 3px;
    margin: 10px;
    max-width: 568px; /*no prototipo o width esta em 568px */
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4%;
    justify-content: center;
    cursor: pointer;
}
.fix-gab-color{
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
    color: var(--branco);
}

.cards-services i{
    color: var(--principal);
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    border-radius: 52px;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--branco);
}

.toggle{
    display: none;
}
.card-content{
    
    display: none;
    padding: 10px;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    height: auto !important;
    animation-name: wipe-enter;
    animation-duration: 1s;
}

/* animation keyframe*/
@keyframes wipe-enter {
    0% {
        transform: scale(0, .025);
    }
    50% {
        transform: scale(1, .025);
    }
}


/* nosso time */

.l-carrocel-team{
    margin-bottom: 80px;
}
.display-team {
    margin-top: 50px;
    min-width: var(--minWidth);
    max-width: 800px;
    justify-content: center;

}

.display-team>p{
    margin: 10px 0;
}
.display-team>h2>span{
    color: var(--principal);
}

.container-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    width: 100%;
}

.container-cards .card-team{ 
    width: 260px;
    height: 380px;
    background: var(--fundoHero);
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(211, 133, 169, 0.521);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container-cards .card-team img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.container-cards .card-team h3{
    font-weight: 600;
    color: var(--titulos);
    font-size: 16px;
    margin-top: 10px;
}
.container-cards .card-team p{
    font-size: 13px;
}
.container-cards .card-team .card-links i{
    color: rgba(55, 34, 59, 0.85);
    /* margin-bottom: 20px; */
    font-size: 18px;
    margin: 0px 2px 20px 2px;
    transition: 0.2s ease-in-out;
}

.container-cards .card-team .card-links i:hover{
  color: var(--secundaria);
}

/* portfólio */

.display-portfolio {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

 .btn-portfolio .fixo{
    padding: 0 2rem;
    height: 40px;
    color: var(--branco);
    background-color: var(--principal);
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    margin: 2rem 0.5rem;
}

.btn-portfolio span button{
    padding: 0 2rem;
    height: 40px;
    color: var(--principal);
    background: rgba(100, 35, 115, 0.2);
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    margin: 2rem 0.5rem;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}



.btn-portfolio .fixo:hover{
    box-shadow: 0 0 6px 0 #64237388 inset, 0 0 6px 4px #64237369;
}

.btn-portfolio span button:hover{
    box-shadow: 0 0 6px 0 rgba(100, 35, 115, 0.2) inset, 0 0 6px 4px rgba(100, 35, 115, 0.2);
}

.container-cards-portfolio{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.cards-portfolio {
    width: 360px;
    height: 360px;
    background-color: var(--principal);
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 16px 20px;
}

.cards-portfolio>h3{
    color: var(--fundoSite);
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.cards-portfolio>h3::before{
    content: "";
    position: absolute;
    Width: 76.52px;
    Height: 2px;
    border-radius: 10px;
    margin-top: calc(15px + 1rem);
    background-color: #FFFFFF;
}

.cards-portfolio>p{
    color: #F5F7F3 !important;
    font-size: 1.2rem;
}

.cards-portfolio a img {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition:  0.5s ease-in-out;
}

.cards-portfolio a img:hover {
 
   -webkit-transform: scale(1.1);
   overflow: hidden;
    transform: scale(1.1);
    padding: 0 !important;
}

/* formulário */

.banner-form {
    width: 50%;
    min-width: var(--minWidth);
}

.form {
    width: 50%;
    min-width: var(--minWidth);
}

/* talvez eu tenha desconfigurado a proporção do grid */

.form form{
    display: flex;
    flex-direction: column;
}

.form input{
    width: 350px;
    height: 50px;
    background: #F5F7F3;
    border: 1px solid rgba(100, 35, 115, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 15px 20px;
    margin: 15px 0 8px 0;
    font-weight: 500;
    color: rgba(100, 35, 115, 0.7);
}

.form textarea{
    width: 350px;
    height: 108px;
    font-weight: 500;
    background: #F5F7F3;
    border: 1px solid rgba(100, 35, 115, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 15px 20px;
    margin: 8px 0;
    resize: none;
    color: rgba(100, 35, 115, 0.7);
}

.form input:focus, .form textarea:focus{
    border: 1px solid rgba(100, 35, 115, 0.5);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

.form button{
    width: 139.08px;
    height: 52px;
    background: #CA537C;
    box-shadow: 8px 8px 20px rgba(239, 135, 210, 0.5);
    border-radius: 4px;
    color: var(--branco);
    font-weight: 600;
    font-size: 17px;
    border: 0;
    margin-top: 18px;
    cursor: pointer;
}


/* rodape */

footer {
    color: var(--fundoSite);
    width: 100%;
    background-color: var(--principal);
}

.container-footer {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
}

/* rodape itens */

.container-footer>p {
    font-size: 1.4rem;
}

.footer-logo, .footer-links, .footer-contatos, .footer-parcerias {
    margin-top: 20px;
}

.w600 {
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-links {
    margin-left: 10px;
    width: 20%;
    min-width: 150px;
    display: inline-block;
}

.footer-logo {
    width: 30%;
    min-width: 300px;
}

.footer-menu {
    color: var(--branco);
}

.footer-menu:hover {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--secundaria);
    color: var(--branco);
}

.footer-contatos {
    width: 30%;
    min-width: 300px;
    margin: 0 40px;
}

.footer-parcerias {
    width: 30%;
    min-width: 200px;
    /* margin-bottom: 50px; */
}

/* especial itens */

.ellipse-full {
    background: #642373;
    position: absolute;
    border-radius: 50%;
    width: 696px;
    height: 696px;
    left: 600px;
    top: -300px;
    z-index: 1;
}

.ellipse-dotted {
    border: 2px dashed #CA537C;
    position: absolute;
    border-radius: 50%;
    width: 696px;
    height: 696px;
    left: 540px;
    top: -220px;
}

.ellipse-purple {
    background: #642373;
    position: absolute;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    left: 749px;
    top: 516px;
}

.ellipse-orange {
    background: #CA537C;
    border-radius: 50%;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 810px;
    top: 195px;
}

.raio-roxo-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 911px;
    top: 578px;
    z-index: 9999;
}

.raio-roxo-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 857px;
    top: 141px;
}

.raio-branco {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1198px;
    top: 138px;
    z-index: 9999;
    z-index: 9999;
}

.logo {
   margin: 0 auto;
    display: grid;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: var(--principal);
}

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover; 
}

.menu-hamb {
    display: none;
}

.fix-gab-color{    
    color: var(--fundoSite);
}


@media (max-width: 920px) {
    html{
        font-size: 50%;
    }
    .ellipse-full, .ellipse-dotted, .ellipse-purple, .ellipse-orange, .raio-roxo-1, .raio-roxo-2, .raio-branco, .logo {
        display: none;
    }
    h1 {
        font-size: 5.2rem;
    }
    .mobile-logo {
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }
    .s-mobile-logo {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    .l-header {
        display: none;
    }
    /* menu hamburguer  */
    .menu-hamb {
        display: inline;
        position: fixed;
        z-index: 99999;
        width: 70px;
        height: 70px;
        border-radius: 0 0 4px 0;
    }
    /* estilos */
    #toggle {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
    }
    #toggle span:after, #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
    }
    #toggle span:after {
        top: 9px;
    }
    #toggle span {
        position: relative;
        display: block;
    }
    #toggle span, #toggle span:after, #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: var(--principal);
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }
    /* na ativação */
    #toggle.on span {
        background-color: transparent;
    }
    #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    #toggle.on+#menu {
        opacity: 1;
        visibility: visible;
    }
    /* menu aparencia*/
    #menu {
        position: relative;
        color: #999;
        width: 200px;
        padding: 70px;
        margin: auto;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
        /* ajsuar para este demo demo */
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
    }
    #menu:after {
        position: absolute;
        top: -15px;
        left: 20px;
        content: "";
        display: block;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid white;
    }
    ul, li, li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    li a {
        width: 100px;
        padding: 5px;
        color: var(--principal);
        text-decoration: none;
        transition: all .2s;
    }
    li a:hover, li a:focus {
        background: var(--secundaria);
        color: #fff;
    }
    .card-links{
        display: flex;
        max-width: 100px;
        justify-content: center;
    }
    .footer-logo{
        display: grid;
        justify-items: center;
    }
    .footer-logo>img{
        width: 200px;
    }

    .footer-logo>p,.w600{
        text-align:center;
        margin-bottom: 10px;
    }
    .footer-contatos{
        display: grid;
        justify-content: center;
    }
   
    .s-reasons span:not(.purple){
        width: 60px;
        height: 60px;
        font-size: 18px;
        
    }
    .s-reasons .purple {
        width: 60px;
        height: 60px;
        font-size: 18px;
        
    }

@media (max-width: 480px) { 
   .display-hero h1{
    margin-top: 20px;
   }

   .btn-orcamento{
       margin-bottom: 55px;
   }

   .btn-servicos{
       margin-bottom: 40px;
   }

   .form button{
       margin-bottom: 30px;
   }
   .footer-contatos{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
   }

   .footer-parcerias img{
       width: 200px;
   }
  
}

@media screen and (max-width: 920px){
	.container-header{
		height: 65rem;
	}
}
@media screen and (max-width: 823px){
	.container-header{
		height: 85rem;
	}
	.s-banner{
		width: 50%;
	}
	.icons {
		display:none;
	}
}


/* cards team */
