:root {
    --principal: #642373;
    --secundaria: #CA537C;
    --titulos: #261629;
    --subtitulos: #37223B;
    --branco: #F5F7F3;
    --fundoSite: #F3F1F4;
    --fundoHero: #DBC9E8;
    --minWidth: 350px;
}
html{
    font-size: 62.4%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--fundoSite);
    
}

h1 {
    font-size: 6.2rem;
    line-height: 60px;
}

h2 {
    font-size: 3.4rem;
}

/* ajustar h3 */
h3{
    font-size: 2rem;
}

p,a,li{
    font-size: 1.6rem;
}


/* header */

.bg-header {
    background-color: var(--fundoHero);
}

.container-header {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 9999;
}

header :is(nav, ul, li) {
    display: flex;
    margin-left: 30px;
    padding: 5px;
}

.l-hero {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap-reverse;
}

.l-display {
    min-width: var(--minWidth);
    display: flex;
    align-items: center;
    width: 50%;
}

.display-hero {
    min-width: var(--minWidth);
    justify-content: center;
    z-index: 9999;
}
/* display padrao de texto */


.display-hero>p {
    margin: 20px 0 30px 0;
}

/* display padrao dos textos */

.display-padrao {
    min-width: var(--minWidth);
    max-width: 400px;
    justify-content: center;
  
}

/* display padrao dos textos */

.l-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    grid-column: 2/3;
}

.s-banner{
    min-width: 300px;
    max-width: 606px;
    z-index: 999;
}



.btn-orcamento {
    width: 310px;
    height: 58px;
    font-weight: 600;
    background-color: var(--secundaria);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(0, 0, 0, 0.2), 8px 8px 20px rgba(239, 135, 210, 0.6), -8px -8px 20px rgba(239, 135, 210, 0.55);
    border-radius: 4px;
    border: none;
}

/* container main */
.container-main {
    max-width: 1170px;
    margin: 0 auto;
}

/* por que a brain */

.flex-main {
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.l-display-because {
    width: 50%;
    min-width: var(--minWidth);
}

.l-reasons {
    width: 50%;
    min-width: var(--minWidth);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* seção quem somos */

.l-banner-we {
    margin: 50px 0 50px 0;
    width: 50%;
    border-radius: 8px;
    min-width: 404px;
}

.display-we {
    width: 50%;
    display: flex;
    min-width: var(--minWidth);
}

/* conheça nossos serviços */

.display-services {
    width: 50%;
    min-width: var(--minWidth);
}

.l-cards-services {
    width: 50%;
    min-width: var(--minWidth);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.cards-services {
    background-color: var(--principal);
    color: var(--branco);
    border-radius: 3px;
    margin: 10px;
    max-width: 468px;
    height: 100px;
}

/* nosso time */

.display-team {
    margin-top: 50px;
}

/* portfólio */

.display-portfolio {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.cards-portfolio {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.img-portfolio>img {
    width: 300px;
    margin: 5px;
}

/* formulário */

.banner-form {
    width: 50%;
    min-width: var(--minWidth);
}

.form {
    width: 50%;
    min-width: var(--minWidth);
}

/* rodape */

footer {
    color: var(--fundoSite);
    width: 100%;
    background-color: var(--principal);
}

.container-footer {
    border: 1px solid white;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* rodape itens */
.container-footer>p{
    font-size: 1.4rem;
}

.footer-logo,.footer-links,.footer-contatos,.footer-parcerias{
    margin-top: 20px;
}
.w600{
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-links{
    margin-left: 10px;
    width: 20%;
    min-width: 150px;
    display: inline-block;
    
}
.footer-logo{
    width: 30%;
    min-width:300px ;
}
.footer-menu{
    color: var(--branco);
    
}
.footer-menu:hover{
    padding: 10px;
    border-radius: 4px;
    background-color: var(--secundaria);
    color: var(--branco);
    
}
.footer-contatos{
    width: 30%;
    min-width: 300px;
    
}

.footer-parcerias{
    width: 10%;
    min-width: 200px;
    margin-bottom: 50px;
}






/* especial itens */

.ellipse-full {
    background: #642373;
    position: absolute;
    border-radius: 50%;
    width: 696px;
    height: 696px;
    left: 908px;
    top: -72px;
    z-index: 1;
}

.ellipse-dotted {
    border: 2px dashed #CA537C;
    position: absolute;
    border-radius: 50%;
    width: 696px;
    height: 696px;
    left: 884px;
    top: -36px;
}


.ellipse-purple {
    background: #642373;
    position: absolute;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    left: 749px;
    top: 516px;
}

.ellipse-orange {
    background: #CA537C;
    border-radius: 50%;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 810px;
    top: 195px;
}

.raio-roxo-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 911px;
    top: 578px;
    z-index: 9999;
}

.raio-roxo-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 857px;
    top: 141px;
}

.raio-branco {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1198px;
    top: 138px;
    z-index: 9999;
    z-index: 9999;
}

.logo{
    margin-top: 10px;
    display: grid;
    border-radius: 50%;
    justify-items: center;
    align-items: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    background-color: var(--principal);
}

@media (max-width: 920px){
  
.ellipse-full,.ellipse-dotted,.ellipse-purple,.ellipse-orange,.raio-roxo-1,.raio-roxo-2,.raio-branco,.logo  {
    display: none;

}

}