
.vscode/settings.json
.index.html.swo
        .index.html.swp
        css/.carousel.css.swp
        css/.style.css.swp
	js/.hero.js.swp
	css/.carousel.css.swp
        css/.style.css.swp
        css/.txt
	js/.hero.js.swp
        js/hero.js
