
.vscode/settings.json
index.html.swp
        css/.carousel.css.swp
        css/.style.css.swp
        js/.script.js.swp
        js/.swip.js.swp
        js/swip.js
	.index.html.swp
        css/.carousel.css.swp
        css/.style.css.swp
        css/.swiper-bundle.min.css.swp
